:root{
    //COLORS AND BG
    --HEADER_BG: #ffffff;
    --JUMBOTRON_BG_COLOR: #1e3020;
    --GREEN_CONTRAST_TEXT: #dcd5d0;
    --LIGHT_BG: #faf4f4;
    --NAV_LINK_TEXT: #978f88;
    --NAV_LINK_ACTIVE: #2a382a;

    --JUMBOTRON_BG_IMAGE: url('./assets/img/bg-transparent-3.png');
    --HERO_BANNER: url('./assets/img/banner-5-2x-scaled.jpg');
    //TEXT
    --TEXT_WHITE: #ffffff;
    --TEXT_BOLD: 600;
    --NAV_LINK_SIZE: 15px;
    --NAV_LINK_WEIGHT: 500;
}